<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    {{title}}!
  </h1>
</div>
<a routerLink="/additem">Add Item</a>
<a style="margin-left:10px" routerLink="/listitem">List Product</a>


<br/>
<router-outlet></router-outlet>
</div>

